.venv
.vscode
.DS_Store
__pycache__
checkpoints/*
data/*
logs/*
wandb/*
.idea/
.env
*.log
notebook/*
script/*
main.data.audioset_strong/*
notebook/out/*
notebook/out_2/*
notebook/out_3/*
notebook/out_4/*